<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Shopping Cart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f0f0f0;
		}

		button {
			padding: 10px;
			border: none;
			border-radius: 5px;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
		}
		
		h1 {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
			color: #555;
		}

		h2 {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
			color: #d9534f;
		}
		
		.container {
			width: 80%;
			margin: 0 auto;
			display: flex;
			flex-direction:column;
  			justify-content: center;
  			align-items: flex-end;
		}
		
		table {
			width: 100%;
			border-collapse: collapse;
			background-color: #fff;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
		}
		
		th, td {
			padding: 10px;
			text-align: center;
		}
		
		th {
			background-color: #333;
			color: #fff;
		}
		
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		.num-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.num-container form {
			margin: 0;
			padding: 0;
		}
		.num-container form button {
			background-color:#8e8d8d;
		}
		.num-container form:first-of-type button {
			margin-right: 10px;
		}
		.num-container form:last-of-type button {
			margin-left: 10px;
		}
	
		.empty-cart form button{
			background-color: #d9534f;
		}
		
	</style>
</head>
<body>
	<h1>Shopping Cart</h1>

	<div class="container">
		<div class="empty-cart">
			<form th:action="@{/pizza/shoppingcart}" method="post">
				<button type="submit" name="action" th:value="emptycart">Empty Cart</button>
			</form>
		</div>
	
		<table>
			<thead>
				<tr>
					<th>Pizza Name</th>
					<th>Pizza Size</th>
					<th>Pizza Base</th>
					<th>Pizza Number</th>
					<th>Unit Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${shoppingcartlist}">
					<td th:text="${product.pizzaName}"></td>
					<td th:text="${product.pizzaSize} + ' inches'"></td>
					<td th:text="${product.pizzaBase}"></td>
					<td>
						<div class="num-container">
							<form th:action="@{/pizza/shoppingcart}" method="post">
								<input type="hidden" name="action" th:value="editnum">
								<input type="hidden" name="id" th:value="${product.id}" />
								<button type="submit" name="num" th:value="${product.num + 1}">+</button>
							</form>
							<span th:text="${product.num}"></span>
							<form th:action="@{/pizza/shoppingcart}" method="post">
								<input type="hidden" name="action" th:value="editnum">
								<input type="hidden" name="id" th:value="${product.id}" />
								<button type="submit" name="num" th:value="${product.num - 1}">-</button>
							</form>
						</div>
					</td>
					<td th:text="'¥' + ${product.unitPrice}"></td>
				</tr>
				<tr>
					<td colspan="4"><strong th:text="'Total (' + ${totalnum} + ' pizzas)'"></strong></td>
					<td><strong th:text="'¥' + ${totalamount}"></strong></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:if="${emptycartmessage}">
		<h2 th:text="${emptycartmessage}"></h2>
	</div>

	
	
</body>
</html>

